instance_name = "{{ easytier_node_obj.id }}-{{ easytier_node_obj.node.id }}-{{ easytier_node_obj.node.name }}|{{ easytier_node_obj.network.id }}-{{ easytier_node_obj.network.name }}"
hostname = "{{ easytier_node_obj.network.id }}-{{ easytier_node_obj.node.name }}"

{% if ipv4 %}
ipv4 = "{{ ipv4 }}"
{% endif %}

listeners = [
{% for i in easytier_node_obj.node_nodelisteners.all %}
    "{{ i.protocol }}://0.0.0.0:{{ i.port }}",
{% endfor %}
]

{% if external_node %}
[[peer]]
uri = "{{ external_node }}"
{% endif %}

{% for i in peers %}
[[peer]]
uri = "{{ i }}"
{% endfor %}

{% for i in proxy_networks %}
[[proxy_network]]
cidr = "{{ i }}"
{% endfor %}

{% if easytier_node_obj.rpc_portal_port %}
rpc_portal = "0.0.0.0:{{ easytier_node_obj.rpc_portal_port }}"
{% endif %}

[network_identity]
network_name = "{{ easytier_node_obj.network.network_name }}"
network_secret = "{{ easytier_node_obj.network.network_secret }}"

[flags]
private_mode = true
dev_name = "network_{{ easytier_node_obj.network_id }}"
no_tun = {% if ipv4 %}false{% else %}true{% endif %}
latency_first = {% if easytier_node_obj.latency_first %}true{% else %}false{% endif %}
{% if mtu %}
mtu = {{ mtu }}
{% endif %}
